[Unit]
Description=Maposmatic render daemon for queue %I
After=multi-user.target
Wants=postgresql.service

[Service]
Type=idle
User=maposmatic
MemoryMax=@memlimit@K
LimitNOFILE=infinity
WorkingDirectory=@INSTALLDIR@/maposmatic/
Environment=PYTHONPATH=@INSTALLDIR@/lib/@PYTHON_VERSION@/site-packages/:/usr/lib/python3/dist-packages/
ExecStart=@INSTALLDIR@/bin/python3 scripts/wrapper.py scripts/daemon.py %i

[Install]
WantedBy=multi-user.target


