[Unit]
Description=Maposmatic render daemon for queue %I
After=multi-user.target
Wants=postgresql.service

[Service]
Type=idle
User=maposmatic
LimitNOFILE=infinity
MemoryMax=1G
ExecStart=/usr/bin/python3 /home/maposmatic/maposmatic/scripts/wrapper.py scripts/daemon.py %i

[Install]
WantedBy=multi-user.target


