[Unit]
Description=Maposmatic render daemon for queue %I
After=multi-user.target
Wants=postgresql.service

[Service]
Type=idle
User=maposmatic
MemoryMax=@memlimit@K
LimitNOFILE=infinity
ExecStart=/usr/bin/python3 @INSTALLDIR@/maposmatic/scripts/wrapper.py scripts/daemon.py %i

[Install]
WantedBy=multi-user.target


