[Unit]
Description=Maposmatic render daemon
After=multi-user.target
Wants=postgresql.service

[Service]
Type=idle
User=maposmatic
MemoryMax=@memlimit@K
LimitNOFILE=infinity
ExecStart=/usr/bin/python3 /home/maposmatic/maposmatic/scripts/wrapper.py scripts/daemon.py

[Install]
WantedBy=multi-user.target


