[Unit]
Description=Fetch OSM diff files since last update and apply them to the planet database
Wants=postgresql.service

[Service]
Type=oneshot
WorkingDirectory=@INSTALLDIR@/osm2pgsql-import
ExecStart=@INCDIR@/osm2pgsql-update.sh



