[Unit]
Description=Fetch and process Shapefile archives that have changed since last download

[Service]
Type=oneshot
WorkingDirectory=@INSTALLDIR@/shapefiles
ExecStart=@INCDIR@/get-shapefiles.sh


