[Unit]
Description=Fetch OSM diff files since last update and apply them to the waymarked trails database
Wants=postgresql.service

[Service]
Type=oneshot
WorkingDirectory=@STYLEDIR@/waymarked-trails-site
ExecStart=@INCDIR@/waymarked-update.sh


