[Unit]
Description=Fetch OSM diff files since last update and apply them to the waymarked trails database

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target

