[Unit]
Description=Maposmatic render daemon
After=multi-user.target
Wants=maposmatic-render.service

[Service]
Type=idle
User=maposmatic
Environment=PYTHONPATH=/home/maposmatic/ocitysmap
ExecStart=/usr/bin/python /home/maposmatic/maposmatic/www/manage.py runserver 0.0.0.0:8000

[Install]
WantedBy=multi-user.target


